<div *ngIf="isLoading" class="spinner">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="container d-flex justify-content-center align">
    <div class="col-lg-6">
        <p *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</p>
        <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>

        <form *ngIf="!isLoading" (ngSubmit)="onSubmit()" #editProfileForm="ngForm">
            <div class="form-group">
                <label for="email" class="form-label mt-2 mb-0">Email</label>
                <div class="text-danger" *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
                    <div *ngIf="emailRef.errors?.['required']">Votre adresse email est requise.</div>
                    <div *ngIf="emailRef.errors?.['email']">Cette adresse email n'est pas valide.</div>
                </div>
                <input type="email"
                    class="form-control"
                    id="email"
                    [(ngModel)]="email"
                    name="email"
                    required
                    #emailRef="ngModel"
                >
            </div>
            <div class="form-group">
                <label for="firstname" class="form-label mt-2 mb-0">Prénom</label>
                <div class="text-danger" *ngIf="firstnameRef.invalid && (firstnameRef.dirty || firstnameRef.touched)">
                    <div *ngIf="firstnameRef.errors?.['required']">Votre prénom est requis.</div>
                    <div *ngIf="firstnameRef.errors?.['pattern']">Certains caractères sont invalides.</div>
                    <div *ngIf="firstnameRef.errors?.['maxlength']">Votre prénom ne doit pas dépasser 80 caractères.</div>
                </div>
                <input type="text"
                    class="form-control"
                    id="firstname"
                    [(ngModel)]="firstname"
                    name="firstname"
                    [required]="allFieldsRequired"
                    pattern="^[a-zA-Zéèäë ]+$"
                    maxlength="80"
                    #firstnameRef="ngModel"
                >
            </div>
            <div class="form-group">
                <label for="lastname" class="form-label mt-2 mb-0">Nom</label>
                <div class="text-danger" *ngIf="lastnameRef.invalid && (lastnameRef.dirty || lastnameRef.touched)">
                    <div *ngIf="lastnameRef.errors?.['required']">Votre nom est requis.</div>
                    <div *ngIf="lastnameRef.errors?.['pattern']">Certains caractères sont invalides.</div>
                    <div *ngIf="lastnameRef.errors?.['maxlength']">Votre nom ne doit pas dépasser 80 caractères.</div>
                </div>
                <input type="text"
                    class="form-control"
                    id="lastname"
                    [(ngModel)]="lastname"
                    name="lastname"
                    [required]="allFieldsRequired"
                    pattern="^[a-zA-Zéèäë ]+$"
                    maxlength="80"
                    #lastnameRef="ngModel"
                >
            </div>
            <div class="form-group">
                <label for="phone" class="form-label mt-2 mb-0">Téléphone</label>
                <div class="text-danger" *ngIf="phoneRef.invalid && (phoneRef.dirty || phoneRef.touched)">
                    <div *ngIf="phoneRef.errors?.['required']">Votre téléphone est requis.</div>
                    <div *ngIf="phoneRef.errors?.['pattern']">Seul les chiffres sont valides.</div>
                    <div *ngIf="phoneRef.errors?.['maxlength']">Votre nom ne doit pas dépasser 16 caractères.</div>
                </div>
                <input type="text"
                    class="form-control"
                    id="phone"
                    [(ngModel)]="phone"
                    name="phone"
                    [required]="allFieldsRequired"
                    pattern="^[0-9]+$"
                    maxlength="16"
                    #phoneRef="ngModel"
                >
            </div>
            <button type="submit" class="btn btn-primary mt-3 w-100" [disabled]="editProfileForm.invalid || isRequestPending">Valider</button>
        </form>
    </div>
</div>