<div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <h3 *ngIf="!isEditMode">Créer une règle de réduction </h3>
    <h3 *ngIf="isEditMode">Modification d'une règle de réduction </h3>
    <app-discount-rules-form 
        *ngIf="!isEditMode"
        [discountRule]="selectedDiscountRule"
        [isRequestPending]="isRequestPending"
        (save)="onSave($event)"
        (successMessage)="onSuccessMessage($event)"
        (errorMessage)="onErrorMessage($event)">
    </app-discount-rules-form>

    <hr>

    <div *ngIf="isLoading" class="spinner">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="container" *ngIf="discountRuleList && discountRuleList.length > 0">
        <h3>Règles actives</h3>
        <div class="row">
            <div class="card mb-3 shadow" *ngFor="let discountRule of discountRuleList">
                <div *ngIf="selectedDiscountRule?.id !== discountRule.id" class="card-body">
                    <p class="card-text fs-4">{{ discountRule.name }}</p>
                    <p *ngIf="discountRule.description" class="card-text">{{ discountRule.description }}</p>
                    <button (click)="onEdit(discountRule)" [disabled]="isRequestPending || isLoading" class="btn btn-outline-primary me-3">Modifier</button>
                    <button (click)="onDelete(discountRule)" [disabled]="isRequestPending || isLoading" class="btn btn-outline-danger">Supprimer</button>
                </div>
                <div *ngIf="selectedDiscountRule?.id === discountRule.id && isEditMode" class="card-body">
                    <button (click)="onCancelEdit()" class="btn btn-outline-danger">Annuler</button>
                    <app-discount-rules-form 
                        [discountRule]="discountRule"
                        [isRequestPending]="isRequestPending"
                        [isEditMode]="isEditMode"
                        (save)="onSave($event)"
                        (successMessage)="onSuccessMessage($event)"
                        (errorMessage)="onErrorMessage($event)">
                    </app-discount-rules-form>
                </div>
            </div>
        </div>
    </div>
</div>