<div 
    (mouseenter)="loadVideo(vehicle.id)"
    (mouseleave)="resetMedia()"
    class="card"
>
    <h5>{{ vehicle.brand }} {{ vehicle.model }}</h5>
    <video 
        *ngIf="videoUrl"
        width="300"
        controls
        autoplay
        mute
        (loadeddata)="hideLoading()"
    >
        <source [src]="videoUrl" type="video/mp4">
        Votre navigateur ne supporte pas la lecture de vidéos.
    </video>
    <div *ngIf="loading" class="spinner">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <img *ngIf="!videoUrl && !loading" [src]="vehicle.image" alt="image du véhicule">
    <hr>
    <p>{{ vehicle.price | currency: 'EUR' }}</p>
    <a class="btn btn-primary" [routerLink]="['/vehicle', vehicle.id]">Voir la description</a>
</div>
