<div class="col-lg-6">
    <p *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>
    <form (ngSubmit)="onSubmit()" #discountForm="ngForm">
        <div class="form-group">
            <label>En stock depuis</label>
            <div class="text-danger" [hidden]="storageDuration.valid || storageDuration.pristine">Le nombre de jour est requis</div>
            <input type="number"
                class="form-control"
                id="storageDuration"
                required
                placeholder="Nombre de jour"
                name="storageDuration"
                [(ngModel)]="discount.storageDuration"
                #storageDuration="ngModel"
            >
        </div>
        <div class="form-group">
            <label>Coefficient de réduction</label>
            <div class="text-danger" [hidden]="rate.valid || rate.pristine">Le coefficient est requis</div>
            <input type="number"
                class="form-control"
                id="rate"
                required
                placeholder="0.1 pour 10%"
                name="rate"
                [(ngModel)]="discount.rate"
                #rate="ngModel"
            >
        </div>
        <button class="btn btn-primary my-3 col-6" type="submit" [disabled]="!discountForm.form.valid || isRequestPending">Valider</button>
    </form>
</div>
