<div>
    <div>
        <p *ngIf="errorMessage">{{ errorMessage }}</p>
        <p *ngIf="successMessage">{{ successMessage }}</p>
    </div>
    <form (ngSubmit)="resetPassword()" #passwordForm="ngForm">
        <div>
            <label for="plainPassword">Nouveau mot de passe</label>
            <div *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)">
                <div *ngIf="passwordRef.errors?.['required']">Le mot de passe est requis.</div>
                <div *ngIf="passwordRef.errors?.['pattern']">
                    <div *ngIf="plainPassword.length < 8">Le mot de passe doit contenir au moins 8 caractères.</div>
                    <div *ngIf="!plainPassword.match('[A-Z]')">Le mot de passe doit contenir au moins une lettre majuscule.</div>
                    <div *ngIf="!plainPassword.match('[a-z]')">Le mot de passe doit contenir au moins une lettre minuscule.</div>
                    <div *ngIf="!plainPassword.match('[0-9]')">Le mot de passe doit contenir au moins un chiffre.</div>
                    <div *ngIf="!plainPassword.match('[\\W_]')">Le mot de passe doit contenir au moins un caractère spécial.</div>
                </div>
            </div>
            <input
                type="password"
                id="plainPassword"
                name="plainPassword"
                [(ngModel)]="plainPassword"
                required
                pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
                #passwordRef="ngModel"
            />
        </div>
        <div>
            <label for="confirmPassword">Confirmer le mot de passe</label>
            <div *ngIf="confirmPasswordRef.invalid && (passwordRef.dirty || passwordRef.touched)">
                Les mots de passe ne sont pas identiques
            </div>
            <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                required
                [compare]="plainPassword"
                #confirmPasswordRef="ngModel"
            />
        </div>
        <button type="submit" [disabled]="passwordForm.invalid || isRequestPending">
            Modifer
        </button>
    </form>
</div>