<header id="nav-menu" aria-label="navigation bar" #navMenu #menuLinks>
    <div class="container-fluid d-flex justify-content-between">
        <div class="nav-start">
            <a class="logo" routerLink="/catalogue">
                <img src="assets/images/navbar/nav-logo.png"
                    width="100" 
                    height="100" 
                    alt="Inc Logo"
                />
            </a>
            <nav class="menu" #menu>
                <ul class="menu-bar">
                    <li><a class="nav-link" routerLink="/catalogue" routerLinkActive="active">Catalogue</a></li>
                    <li>
                        <button 
                            class="nav-link dropdown-btn"
                            data-dropdown="dropdown1"
                            aria-haspopup="true"
                            aria-expanded="false"
                            aria-label="discover"
                        >
                            Administration
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16" aria-hidden="true" style="margin-top:2px;">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </button>
                        <div id="dropdown1" class="dropdown">
                            <ul role="menu">
                                <li>
                                    <span class="dropdown-link-title">Offres promotionnelles</span>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" routerLink="/admin">Durée de stockage</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" routerLink="/admin">Offres spéciales</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="nav-end">
            <div class="right-container">
                <form class="search" role="search">
                    <input type="search"
                        name="search"
                        placeholder="Rechercher un véhicule"
                        (input)="onSearchChange($event)"
                        [(ngModel)]="searchTerm"
                    />
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" class="search-icon">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </form>
                <ul *ngIf="searchResults.length > 0" class="search-results">
                    <li *ngFor="let vehicle of searchResults" class="border border-light-subtle fs-5">
                        <a [routerLink]="['/vehicule', vehicle.id]">{{ vehicle.brand }} {{ vehicle.model }}</a>
                    </li>
                </ul>

                <button class="nav-link dropdown-btn" data-dropdown="dropdown2" aria-haspopup="true" aria-expanded="false" aria-label="discover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                </button>
                <div id="dropdown2" class="dropdown">
                    <ul role="menu">
                        <li *ngIf="!currentUser" role="menuitem">
                            <a
                                class="dropdown-link"
                                routerLink="/connexion"
                            >
                                Connexion
                            </a>
                        </li>
                        <li *ngIf="currentUser" role="menuitem">
                            <a
                                class="dropdown-link"
                                routerLink="/mon-compte">Mon compte</a>
                        </li>
                        <li *ngIf="currentUser" role="menuitem">
                            <a class="dropdown-link" routerLink="" (click)="logout()">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </div>

            <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false" #hamburger>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" style="margin-bottom:5px;">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </button>
        </div>
    </div>
</header>