<div>
    <div>
        <p *ngIf="errorMessage">{{ errorMessage }}</p>
        <p *ngIf="successMessage">{{ successMessage }}</p>
    </div>
    <h2>Réinitaliser le mot de passe</h2>
    <form (ngSubmit)="requestReset()" #resetForm="ngForm">
        <div>
            <label for="email">Email</label>
            <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
                <div *ngIf="emailRef.errors?.['required']">Votre adresse email est requise.</div>
                <div *ngIf="emailRef.errors?.['email']">Cette adresse email n'est pas valide.</div>
            </div>
            <input
                type="email"
                id="email"
                name="email"
                [(ngModel)]="email"
                required
                email
                #emailRef="ngModel"
            />
        </div>
        <button type="submit" [disabled]="resetForm.invalid || isRequestPending">
            Envoyer
        </button>
    </form>
</div>