<div class="container">
    <div class="col-lg-6">
        <p *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</p>
        <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>
        <div *ngIf="!isCurrentPasswordValid">
            <form (ngSubmit)="verifyCurrentPassword()" #verifyPasswordForm="ngForm">
                <div class="form-group">
                    <label for="currentPassword" class="form-label">Mot de passe actuel</label>
                    <input type="password"
                        class="form-control"
                        id="currentPassword"
                        [(ngModel)]="currentPassword"
                        name="currentPassword"
                        required
                    >
                </div>
                <div>
                    <a routerLink="/mot-de-passe-oublie">J'ai oublié mon mot de passe</a>
                </div>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="verifyPasswordForm.invalid || isRequestPending">Valider</button>
            </form>
        </div>
        
        <div *ngIf="isCurrentPasswordValid">
            <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
                <div class="form-group">
                    <label for="newPassword" class="form-label">Nouveau mot de passe</label>
                    <div class="text-danger" *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)">
                        <div *ngIf="passwordRef.errors?.['required']">Le mot de passe est requis.</div>
                        <div *ngIf="passwordRef.errors?.['pattern']">
                            <div *ngIf="newPassword.length < 8">Le mot de passe doit contenir au moins 8 caractères.</div>
                            <div *ngIf="!newPassword.match('[A-Z]')">Le mot de passe doit contenir au moins une lettre majuscule.</div>
                            <div *ngIf="!newPassword.match('[a-z]')">Le mot de passe doit contenir au moins une lettre minuscule.</div>
                            <div *ngIf="!newPassword.match('[0-9]')">Le mot de passe doit contenir au moins un chiffre.</div>
                            <div *ngIf="!newPassword.match('[\\W_]')">Le mot de passe doit contenir au moins un caractère spécial.</div>
                        </div>
                    </div>
                    <input type="password"
                        class="form-control"
                        id="newPassword"
                        [(ngModel)]="newPassword"
                        name="newPassword"
                        required
                        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
                        #passwordRef="ngModel"
                    >
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
                    <div class="text-danger" *ngIf="confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)">
                        Les mots de passe ne sont pas identiques
                    </div>
                    <input type="password"
                        class="form-control"
                        id="confirmPassword"
                        [(ngModel)]="confirmPassword"
                        name="confirmPassword"
                        required
                        [compare]="newPassword"
                        #confirmPasswordRef="ngModel"
                    >
                </div>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="passwordForm.invalid || isRequestPending">Appliquer</button>
            </form>
        </div>
    </div>
</div>
