.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__fullscreen {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 117px - 113px); // 117: navbar, 113: footer
    }
}