$primary: #000;

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';

$border: 1px solid $gray-300;
$footer-height: 113px;
$navbar-height: 117px;

@import "bootstrap/scss/bootstrap";