<main class="container">
    <div *ngIf="isLoading" class="spinner__fullscreen">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <section *ngIf="vehicle && !isLoading" class="row w-100">
        <div class="col-xl-7 me-xl-5">
            <img *ngIf="vehicle.image" [src]="vehicle.image" alt="image du véhicule">
        </div>
        <div class="vehicle__infos col-xl-4">
            <div class="w-100">
                <div class="card">
                    <p class="card-title">{{ vehicle.brand }} {{ vehicle.model }}</p>
                    <hr>
                    <p>Motorisation: {{ vehicle.motorization }}</p>
                    <p>Puissance: {{ vehicle.power }}</p>
                    <p>Couleur: {{ vehicle.color }}</p>
                    <p *ngIf="vehicle.space">Espace: {{vehicle.space}}</p>
                </div>
                <div class="price-box bg-light mt-2">
                    <p>{{ vehicle.price | currency: 'EUR' }}</p>
                </div>
            </div>
        </div>
    </section>
</main>
