<main class="container">
    <div *ngIf="isLoading" class="spinner__fullscreen">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <section *ngIf="vehicle && !isLoading" class="row w-100">
        <div class="col-xl-7 me-xl-5">
            <img *ngIf="vehicle.image" [src]="vehicle.image" alt="image du véhicule">
        </div>
        <div class="vehicle__infos col-xl-4">
            <div class="w-100">
                <div class="card">
                    <p class="card-title">{{ vehicle.brand }} {{ vehicle.model }}</p>
                    <hr>
                    <p>Motorisation: {{ vehicle.motorization }}</p>
                    <p>Puissance: {{ vehicle.power }}</p>
                    <p>Couleur: {{ vehicle.color }}</p>
                    <p *ngIf="vehicle.space">Espace: {{vehicle.space}}</p>
                </div>
                <div class="price-box bg-light mt-2">
                    <span [style.text-decoration]="vehicle.soldedPrice?'line-through':''" class="me-2">{{ vehicle.price | currency: 'EUR':'symbol':'3.0' }}</span>
                    <span *ngIf="vehicle.soldedPrice" class="me-2">
                        <h6 class="m-0"><span class="badge text-bg-success">
                            -{{ 100 - (vehicle.soldedPrice * 100) / vehicle.price }}%
                        </span></h6>
                    </span>
                    <span *ngIf="vehicle.soldedPrice">{{ vehicle.soldedPrice | currency: 'EUR':'symbol':'3.0' }}</span>
                </div>
                <a class="btn btn-primary mt-2 w-100" (click)="addToCart(vehicle)">Ajouter au panier</a>
            </div>
        </div>
        <div class="text-center py-3 py-lg-5">
            <div *ngIf="vehicle.description; else checkModelDescription">
                {{ vehicle.description }}
            </div>
            <ng-template #checkModelDescription>
                <div *ngIf="vehicle.modelDescription; else checkBrandDescription">
                    {{ vehicle.modelDescription }}
                </div>
            </ng-template>
            <ng-template #checkBrandDescription>
                <div *ngIf="vehicle.brandDescription">
                    {{ vehicle.brandDescription }}
                </div>
            </ng-template>
        </div>
    </section>
</main>
