<main class="container">
    <h3>Inscrivez-vous</h3>
    <div class="col-12 col-md-6 col-lg-4">
        <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        <a routerLink="/renvoyer-email-confirmation">
            <div *ngIf="errorMessage" class="alert alert-info">
                Je n'ai pas reçu d'email de confirmation
            </div>
        </a>
        <form (submit)="signIn()" #signinForm="ngForm">
            <div class="form-group">
                <label for="email">Email:</label>
                <div class="text-danger" *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
                    <div *ngIf="emailRef.errors?.['required']">Votre adresse email est requise.</div>
                    <div *ngIf="emailRef.errors?.['email']">Cette adresse email n'est pas valide.</div>
                </div>
                <input type="email"
                    class="form-control"
                    [(ngModel)]="email"
                    name="email"
                    required
                    email
                    #emailRef="ngModel"
                >
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <div class="text-danger" *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)">
                    <div *ngIf="passwordRef.errors?.['required']">Le mot de passe est requis.</div>
                    <div *ngIf="passwordRef.errors?.['pattern']">
                        <div *ngIf="password.length < 8">Le mot de passe doit contenir au moins 8 caractères.</div>
                        <div *ngIf="!password.match('[A-Z]')">Le mot de passe doit contenir au moins une lettre majuscule.</div>
                        <div *ngIf="!password.match('[a-z]')">Le mot de passe doit contenir au moins une lettre minuscule.</div>
                        <div *ngIf="!password.match('[0-9]')">Le mot de passe doit contenir au moins un chiffre.</div>
                        <div *ngIf="!password.match('[\\W_]')">Le mot de passe doit contenir au moins un caractère spécial.</div>
                    </div>
                </div>
                <input type="password"
                    class="form-control"
                    [(ngModel)]="password"
                    name="password"
                    required
                    pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
                    #passwordRef="ngModel"
                >
            </div>
            <div class="form-check">
                <div class="text-danger" *ngIf="rgpdRef.invalid && (rgpdRef.dirty || rgpdRef.touched)">
                    <div *ngIf="rgpdRef.errors?.['required']">Vous devez cocher cette case</div>
                </div>
                <input 
                    class="form-check-input"
                    [(ngModel)]="rgpd"
                    type="checkbox"
                    name="rgpd"
                    value=""
                    id="rgpd"
                    required
                    #rgpdRef="ngModel"
                >
                <label class="form-check-label" for="rgpd">
                    Je consens au traitement de mes données à caractère personnel
                </label>
            </div>
            <button class="btn btn-primary w-100 mt-3" type="submit" [disabled]="!signinForm.form.valid || isRequestPending">S'inscrire</button>
        </form>
    </div>
</main>
